/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base */

body {
  background: #f9f9f9;
  color: #393939;
  font: normal 16px/1.4em -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  height: 100vh;
  text-align: left;
  text-rendering: optimizeLegibility;
}

p {
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

article p img, article iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #db4d3f;
  text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -62px;
}

a.hash-link {
  float: left;
  padding-right: 4px;
  margin-top: 4px;
  margin-left: -20px;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 0.3s;
}

h1:hover .hash-link,
h2:hover .hash-link,
h3:hover .hash-link,
h4:hover .hash-link {
  opacity: 0.5;
  transition: none;
}
a.hash-link:hover {
  opacity: 1!important;
  transition: none;
}

blockquote {
  padding: 15px 30px 15px 15px;
  margin: 20px 0;
  background-color: rgba(204, 122, 111, 0.1);
  border-left: 5px solid rgba(191, 87, 73, 0.2);
}

#fb_oss a {
  border: 0;
}

h1, h2, h3, h4 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  color: #db4d3f;
}

h4 {
  line-height: 2em;
}

header h2 {
  color: white;
  font-size: 20px;
}

.homeContainer {
  background: #fff;
  color: #db4d3f;
  text-align: center;
}

.homeContainer .homeWrapper {
  padding: 2em 10px;
}
.homeContainer .homeWrapper .wrapper {
  margin: 0px auto;
  max-width: 900px;
  padding: 0 20px;
}
.homeContainer .homeWrapper .projectLogo img {
  height: 100px;
  margin-bottom: 0px;
}
.homeContainer .homeWrapper h1#project_title {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 300%;
  letter-spacing: -0.08em;
  line-height: 1em;
  margin-bottom: 80px;
}
.homeContainer .homeWrapper h2#project_tagline {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-size: 200%;
  letter-spacing: -0.04em;
  line-height: 1em;
}

.wrapper {
  margin: 0px auto;
  max-width: 1100px;
  padding: 0 20px;
}

.projectLogo {
  display: none;
  pointer-events: none;
}
.projectLogo img {
  height: 100px;
  margin-bottom: 0px;
}

.projectIntro {
  margin: 40px 0;
}

.fbossFontLight {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fb-like {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}
.center {
  display: block;
  text-align: center;
}

.mainContainer {
  background: #f9f9f9;
  flex: 1;
  font-size: 18px;
}
.mainContainer .wrapper {
  text-align: left;
}
.mainContainer .wrapper .allShareBlock {
  padding: 10px 0;
}
.mainContainer .wrapper .allShareBlock .pluginBlock {
  margin: 12px 0;
  padding: 0;
}
.mainContainer .wrapper a,
.inner .projectIntro a {
  text-decoration: none;
}
.mainContainer .wrapper a:hover,
.mainContainer .wrapper a:focus,
.inner .projectIntro a:hover,
.inner .projectIntro a:focus {
  text-decoration: underline;
}
.mainContainer .wrapper em, .mainContainer .wrapper i {
  font-style: italic;
}
.mainContainer .wrapper strong, .mainContainer .wrapper b {
  font-weight: bold;
}
.container .wrapper h1 {
  font-size: 300%;
  line-height: 1em;
  margin: 0 0 10px 0;
  padding: 1.4em 0 1em;
  text-align: left;
}
.container .wrapper h2 {
  color: #db4d3f;
  font-size: 22px;
  line-height: 1em;
  margin-top: 20px;
  text-align: left;
  padding: 10px 0;
}
.container .wrapper h2.blockHeader {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  padding: 10px 0;
}
.container .wrapper h3 {
  color: #db4d3f;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px 0;
}
.container .wrapper h4 {
  color: #db4d3f;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 10px 0 0;
}
.referenceContainer .wrapper h3 {
  border-top: 1px solid #e0e0e0;
}
.referenceContainer .wrapper h3:first-of-type {
  border: 0;
}
.container .wrapper h4 + p {
  padding-top: 0;
}
.mainContainer .wrapper p,
.blockElement p {
  padding: 0.8em 0 0 0;
}
.mainContainer .wrapper ul {
  list-style: disc;
}
.mainContainer .wrapper ol, .mainContainer .wrapper ul {
  padding: 10px 0 0 24px;
}
.mainContainer .wrapper ol li, .mainContainer .wrapper ul li {
  margin: 0 0 10px 0;
}
.mainContainer .wrapper p,
.blockElement p,
.mainContainer .wrapper ul li,
.mainContainer .wrapper ol li {
  line-height: 1.7;
  max-width: 50rem;
}
@media (max-width: 735px) {
  .mainContainer .wrapper p,
  .blockElement p,
  .mainContainer .wrapper ul li,
  .mainContainer .wrapper ol li {
    font-size: 16px;
  }
}
.mainContainer .wrapper strong {
  font-weight: bold;
}
.mainContainer .wrapper .post {
  position: relative;
}
.mainContainer .wrapper .post.basicPost {
  margin-top: 30px;
}
.mainContainer .wrapper .post h2 {
  font-size: 130%;
}
.mainContainer .wrapper .post h3 {
  font-size: 110%;
}
.mainContainer .wrapper .post h5 {
  font-weight: 300;
  font-style: italic;
}
.mainContainer .wrapper .post h5 strong {
  font-weight: 400;
}
.mainContainer .wrapper .post ol {
  list-style: decimal outside none;
}
.mainContainer .wrapper .post .postHeader h1 {
  font-size: 150%;
  line-height: 1em;
  padding: 0;
}
.mainContainer .wrapper .post .postHeader h1 a {
  border: none;
}
.mainContainer .wrapper .post .postSocialPlugins {
  padding-top: 1em;
}
.mainContainer .wrapper .post .docPagination {
  background: #db4d3f;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
}
.mainContainer .wrapper .post .docPagination .pager {
  display: inline-block;
  width: 50%;
}
.mainContainer .wrapper .post .docPagination .pagingNext {
  float: right;
  text-align: right;
}
.mainContainer .wrapper .post .docPagination a {
  border: none;
  color: #fff;
  display: block;
  padding: 4px 12px;
}
.mainContainer .wrapper .post .docPagination a:hover {
  background-color: #f9f9f9;
  color: #393939;
}
.mainContainer .wrapper .post .docPagination a .pagerLabel {
  display: inline;
}
.mainContainer .wrapper .post .docPagination a .pagerTitle {
  display: none;
}

.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
    font-weight: 300;
}

.mainContainer .wrapper .post h4,
.mainContainer .wrapper .post h5,
.mainContainer .wrapper .post h6 {
  font-weight: 400;
}


#integrations_title {
  font-size: 250%;
  margin: 80px 0;
}

.ytVideo {
  height: 0;
  overflow: hidden;
  padding-bottom: 53.4%;
  /* 16:9 */
  padding-top: 25px;
  position: relative;
}

.ytVideo iframe,
.ytVideo object,
.ytVideo embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.projectTitle {
  font-size: 250%;
  line-height: 1em;
  font-weight: 400;
}

.projectTitle > small {
  display: block;
  font-size: 50%;
  line-height: 1em;
  font-weight: 300;
  margin: 0.7em 0 1.3em;
}

@media only screen and (min-width: 480px) {
  h1#project_title {
    font-size: 500%;
  }

  .projectTitle {
    font-size: 300%;
    margin: 0.3em 0;
  }

  .projectTitle > small {
    font-size: 50%;
  }

  .projectLogo img {
    margin-bottom: 10px;
    height: 200px;
  }

  .homeContainer .homeWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mainContainer .wrapper .post h2 {
    font-size: 180%;
  }
  .mainContainer .wrapper .post h3 {
    font-size: 120%;
  }
  .mainContainer .wrapper .post .docPagination a .pagerLabel {
    display: none;
  }
  .mainContainer .wrapper .post .docPagination a .pagerTitle {
    display: inline;
  }
}
@media only screen and (min-width: 736px) {
  .homeContainer .homeWrapper {
    position: relative;
  }
  .homeContainer .homeWrapper #inner {
    box-sizing: border-box;
    max-width: 600px;
    padding-right: 40px;
  }
  .mainContainer .wrapper .post {
    box-sizing: border-box;
    display: block;
  }
  .mainContainer .wrapper .post .postHeader h1 {
    font-size: 250%;
  }
  .mainContainer .wrapper .posts .post {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper #inner {
    max-width: 750px;
  }

  .homeContainer .homeWrapper .projectLogo {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 2em 100px 4em;
    position: absolute;
    right: 0;
    top: 0;
  }
  .homeContainer .homeWrapper .projectLogo img {
    height: 100%;
    max-height: 250px;
  }
}
@media only screen and (min-width: 1500px) {
  .homeContainer .homeWrapper #inner {
    max-width: 1100px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .wrapper {
    max-width: 1400px;
  }
}
.fixedHeaderContainer {
  box-sizing: border-box;
  background: #db4d3f;
  color: #fff;
  min-height: 50px;
  padding: 9px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.fixedHeaderContainer a {
  align-items: center;
  border: 0;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 34px;
  z-index: 10000;
}
.fixedHeaderContainer header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  text-align: left;
}
.fixedHeaderContainer header img {
  height: 100%;
  margin-right: 10px;
}
.fixedHeaderContainer header h2 {
  display: block;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  z-index: 9999;
}
.fixedHeaderContainer header h3 {
  text-decoration: underline;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  color: white;
  margin-left: 10px;
  font-size: 16px;
}
@media (max-width: 375px) {
  .logo {
    display: none;
  }

  .headerTitle {
    font-size: 17px;
  }
}

.promoSection {
  display: flex;
  flex-flow: column wrap;
  font-size: 125%;
  line-height: 1.6em;
  position: relative;
  z-index: 99;
}
.promoSection .promoRow {
  padding: 10px 0;
}
.promoSection .promoRow .pluginWrapper {
  display: block;
}
.promoSection .promoRow .pluginWrapper.ghWatchWrapper, .promoSection .promoRow .pluginWrapper.ghStarWrapper {
  height: 28px;
}
.promoSection .promoRow .pluginRowBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -2px;
}
.promoSection .promoRow .pluginRowBlock .pluginWrapper {
  padding: 0 2px;
}
.promoSection .promoRow .pluginRowBlock iframe {
  margin-left: 2px;
  margin-top: 5px;
}
.button {
  margin: 4px;
  border: 1px solid #db4d3f;
  border-radius: 3px;
  color: #db4d3f;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: background 0.3s, color 0.3s;
}
.button:hover {
  background: #db4d3f;
  color: #fff;
}

.blockButton {
  display: block;
}

/** Search **/
input[type="search"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.navSearchWrapper {
  align-self: center;
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSearchWrapper::before {
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 6px;
  left: 15px;
  width: 6px;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-58%);
}
.navSearchWrapper::after {
  background: #e5e5e5;
  content: " ";
  height: 7px;
  left: 24px;
  position: absolute;
  transform: rotate(-45deg);
  top: 55%;
  width: 3px;
  z-index: 1;
}
.navSearchWrapper .aa-dropdown-menu {
  background: #f9f9f9;
  border: 3px solid rgba(57, 57, 57, 0.25);
  color: #393939;
  font-size: 14px;
  left: auto !important;
  line-height: 1.2em;
  right: 0 !important;
}
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header {
  background: #db4d3f;
  color: white;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  background-color: #db4d3f;
  color: #fff;
}
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight,
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
  color: #db4d3f;
}
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion__secondary,
.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column {
  border-color: rgba(57, 57, 57, 0.3);
}
input#search_input_react {
  padding-left: 25px;
  font-size: 14px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  line-height: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  outline: none;
  position: relative;
  width: 170px;
  transition: .5s width ease;
  -webkit-transition: .5s width ease;
  -moz-transition: .5s width ease;
  -o-transition: .5s width ease;
}
input#search_input_react:focus, input#search_input_react:active {
  color: #fff;
  width: 220px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  .navSearchWrapper {
    width: 50%;
  }
}
input::-webkit-input-placeholder {
  color: #e5e5e5;
}

input::-moz-placeholder {
  color: #e5e5e5;
}

input::placeholder {
  color: #e5e5e5;
}

code {
  padding: 2px 0;
  background-color: rgba(243, 136, 136, 0.03);
  /* box-shadow acts as padding around inline code snippets
   * while not adding any extra spacing between words. */
  box-shadow: 2px 0 rgba(243, 136, 136, 0.03), -2px 0 rgba(243, 136, 136, 0.03);
  color: inherit;
  border-radius: .3em;
  font-family: "SFMono-Regular",source-code-pro,Menlo,Monaco,Consolas,"Roboto Mono","Droid Sans Mono","Liberation Mono",Consolas,"Courier New",Courier,monospace;
  /* avoids scale issues on mobile */
  word-break: break-word;
}

pre code {
  display:block;
  margin: 20px 0;
  padding:0.5em;
  border-left: 4px solid #db4d3f;
  font-family: "SFMono-Regular",source-code-pro,Menlo,Monaco,Consolas,"Roboto Mono","Droid Sans Mono","Liberation Mono",Consolas,"Courier New",Courier,monospace;
  font-size: 13px;
  overflow-x:auto;
}

/** GitHub **/
.edit-page-link {
  float: right;
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  a.edit-page-link.button{
    display: none;
  }
}
/** GridBlock **/
.gridBlock {
  margin: -5px 0;
  padding: 0;
}
.gridBlock .twoByGridBlock,
.gridBlock .threeByGridBlock,
.gridBlock .fourByGridBlock {
  padding: 5px 0;
}
.gridBlock .twoByGridBlock img,
.gridBlock .threeByGridBlock img,
.gridBlock .fourByGridBlock img {
  max-width: 100%;
}
.gridBlock .gridClear {
  clear: both;
}
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}
.imageAlignSide {
  display: flex;
  flex-flow: row wrap;
}
.blockImage {
  max-width: 730px;
}
.imageAlignSide .blockImage {
  max-width: 500px;
  flex: 0 1 500px;
  margin-right: 40px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  .imageAlignSide .blockImage {
    display: none;
  }
}
.imageAlignSide .blockContent {
  flex: 1 1;
}
.imageAlignBottom .blockImage {
  max-width: 730px;
  margin: 0 auto 20px;
}
.imageAlignBottom.alignCenter .blockImage {
  margin-left: auto;
  margin-right: auto;
}
.imageAlignTop .blockImage {
  max-width: 80px;
  margin-bottom: 20px;
}
.imageAlignTop.alignCenter .blockImage {
  margin-left: auto;
  margin-right: auto;
}
.container .gridBlock .blockContent p {
  padding: 0;
}
.highlightBackground {
  background: rgba(153, 66, 79, 0.7);
  color: #fff;
}
.highlightBackground a {
  border-color: white;
  color: #fff;
  font-weight: 800;
}
.container.highlightBackground .wrapper h1,
.container.highlightBackground .wrapper h2,
.container.highlightBackground .wrapper h3,
.container.highlightBackground .wrapper h4,
.container.highlightBackground .wrapper h5 {
  border-color: white;
  color: white;
}
.lightBackground {
  background: #e9e9e9;
}
.darkBackground {
  background: #808080;
  color: #fff;
}
.darkBackground a {
  color: #d6b3b8;
}
.darkBackground code {
  color: #d6b3b8;
}
.container.darkBackground .wrapper h1,
.container.darkBackground .wrapper h2,
.container.darkBackground .wrapper h3,
.container.darkBackground .wrapper h4,
.container.darkBackground .wrapper h5 {
  border-color: white;
  color: white;
}
.container.paddingAll {
  padding: 40px;
}
.container.paddingBottom {
  padding-bottom: 80px;
}
.container.paddingLeft {
  padding-left: 40px;
}
.container.paddingRight {
  padding-right: 40px;
}
.container.paddingTop {
  padding-top: 80px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  .container.paddingBottom {
    padding-bottom: 40px;
  }
  .container.paddingTop {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .responsiveList .blockContent {
    position: relative;
  }
  .responsiveList .blockContent > div {
    padding-left: 20px;
  }
  .responsiveList .blockContent::before {
    content: "\2022";
    position: absolute;
  }
}
@media only screen and (min-width: 736px) {
  .gridBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px;
  }
  .gridBlock .twoByGridBlock {
    box-sizing: border-box;
    flex: 1 0 50%;
    padding: 10px;
  }
  .gridBlock .threeByGridBlock {
    box-sizing: border-box;
    flex: 1 0 26%;
    padding: 10px;
  }
  .gridBlock .fourByGridBlock {
    box-sizing: border-box;
    flex: 1 0 25%;
    padding: 10px;
  }

  h2 + .gridBlock {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .gridBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px;
  }
  .gridBlock .twoByGridBlock {
    box-sizing: border-box;
    flex: 1 0 50%;
    padding: 10px 20px;
  }
  .gridBlock .threeByGridBlock {
    box-sizing: border-box;
    flex: 1 0 26%;
    padding: 10px;
  }
  .gridBlock .fourByGridBlock {
    box-sizing: border-box;
    flex: 1 0 25%;
    padding: 10px 20px;
  }
}
.navigationSlider .navSlideout {
  cursor: pointer;
  padding-top: 4px;
  position: absolute;
  right: 10px;
  top: 0;
  transition: top 0.3s;
  z-index: 101;
}
.navigationSlider .slidingNav {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
}
.navigationSlider .slidingNav.slidingNavActive {
  height: auto;
  padding-top: 42px;
  width: 300px;
}
.navigationSlider .slidingNav ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 50px;
  width: 100%;
  padding: 0;
  background: #db4d3f;
  color: #fff;
}
.navigationSlider .slidingNav.slidingNavActive ul {
  display: block;
}
.navigationSlider .slidingNav ul li {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}
.navigationSlider .slidingNav ul li a {
  color: #db4d3f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: auto;
  color: inherit;
  transition: background-color 0.3s;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.9em;
}
.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover {
  background: #db4d3f;
}

.languages-icon {
  width: 20px;
}
#languages-dropdown {
  position: absolute;
  width:100%;
  /* positioning can block the main menu on mobile */
  pointer-events: none;
}
#languages-dropdown.visible {
  display: flex;
}
#languages-dropdown.hide {
  display: none;
}
ul#languages-dropdown-items {
  display: flex;
  background-color: #db4d3f;
  flex-direction: column;
  min-width: 120px;
  pointer-events: all;
}

ul#languages li {
  display: block;
}

.menuExpand {
  display: flex;
  flex-flow: column nowrap;
  height: 20px;
  justify-content: space-between;
}
.menuExpand span {
  background: #fff;
  border-radius: 3px;
  display: block;
  flex: 0 0 4px;
  height: 4px;
  position: relative;
  top: 0;
  transition: background-color 0.3s, top 0.3s, opacity 0.3s, transform 0.3s;
  width: 20px;
}
.navPusher {
  padding-top: 100px;
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
}
.navPusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

@media only screen and (min-width: 736px) {
  .navPusher {
    padding-top: 50px;
  }
}
.sliderActive .navPusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 100;
}
@media only screen and (max-width: 735px) {
  .reactNavSearchWrapper::before {
    left: 6px;
  }
  .reactNavSearchWrapper::after {
    left: 15px;
  }
  .reactNavSearchWrapper input#search_input_react {
    box-sizing: border-box;
    padding-left: 25px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 20px;
    background-color: rgba(242, 196, 178, 0.25);
    border: none;
    color: #393939;
    outline: none;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), width 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.2s ease;
    width: 100%;
  }
  .reactNavSearchWrapper input#search_input_react:focus, .reactNavSearchWrapper input#search_input_react:active {
    background-color: #db4d3f;
    color: #fff;
  }
  .reactNavSearchWrapper .algolia-docsearch-suggestion--subcategory-inline {
    display: none;
  }
  .reactNavSearchWrapper > span {
    width: 100%;
  }
  .reactNavSearchWrapper .aa-dropdown-menu {
    background: #f9f9f9;
    border: 0px solid #f9f9f9;
    color: #393939;
    font-size: 12px;
    line-height: 2em;
    max-height: 140px;
    min-width: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    border-radius: 0;
    position: relative !important;
    width: 100%;
  }

  #languages-dropdown {
    top: 50px;
    left: 0px;
  }

  ul#languages-dropdown-items {
    display: flex;
    background-color: #db4d3f;
    flex-direction: row;
  }
}
@media only screen and (min-width: 736px) {
  .navSearchWrapper {
    position: relative;
    top: auto;
    right: auto;
    padding-left: 10px;
  }
  .navSearchWrapper .algolia-autocomplete {
    display: block;
  }
  .navigationSlider {
    height: 34px;
    margin-left: auto;
    position: relative;
  }
  .navigationSlider .navSlideout {
    display:none;
  }
  .navigationSlider nav.slidingNav {
    background: none;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }
  .navigationSlider .slidingNav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -10px;
    padding: 0;
    background: none;
    width: auto;
  }
  .navigationSlider .slidingNav ul li a {
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2em;
    padding: 6px 10px;
    height: 32px;
    font-size: 1em;
  }
  .navigationSlider .slidingNav ul li a:hover {
    color: #fff;
  }
  .navigationSlider .slidingNav ul li.navItemActive a {
    color: #fff;
  }
}

.docs-prevnext {
  margin: 20px 0;
}
.docs-next {
  float: right;
}
.docs-prev {
  float: left;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  .docs-prevnext {
    height: 40px;
  }
  .docs-prev {
    display: none;
  }
}

.docsNavContainer {
  background: #c6c6c6;
  height: 35px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.docMainWrapper .wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}

.docsSliderActive.docsNavContainer {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 50px;
}

.docsNavContainer nav.toc .navBreadcrumb {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  height: 35px;
  overflow: hidden;
  padding: 5px 10px;
}
.navBreadcrumb a, .navBreadcrumb span {
  border: 0;
  color: #393939;
}
.navBreadcrumb i {
  padding: 0 3px;
}
nav.toc {
  width: 240px;
}
nav.toc section {
  padding: 0px;
  position: relative;
}
nav.toc:last-child {
  padding-bottom: 100px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  nav.toc {
    width: 100%;
  }
  nav.toc:last-child {
    padding-bottom: 0;
  }

  a.anchor {
    top: -144px;
  }
}
.docsNavContainer nav.toc .navWrapper {
  padding: 0;
}
nav.toc section .navGroups {
  display: none;
  padding: 40px 10px 60px;
}
nav.toc .toggleNav {
  background: #c6c6c6;
  color: #393939;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}
nav.toc .toggleNav .navToggle {
  cursor: pointer;
  height: 24px;
  margin-right: 10px;
  position: relative;
  text-align: left;
  width: 18px;
}
nav.toc .toggleNav .navToggle::before, nav.toc .toggleNav .navToggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  left: 8px;
  width: 3px;
  height: 6px;
  border: 5px solid #393939;
  border-width: 5px 0;
  margin-top: -8px;
  transform: rotate(45deg);
  z-index: 1;
}
nav.toc .toggleNav .navToggle::after {
  transform: rotate(-45deg);
}
nav.toc .toggleNav .navToggle i::before, nav.toc .toggleNav .navToggle i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  background: transparent;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent #393939;
  height: 0;
  margin-top: -7px;
  opacity: 1;
  width: 5px;
  z-index: 10;
}
nav.toc .toggleNav .navToggle i::after {
  border-width: 5px 5px 0;
  margin-top: 2px;
}
.docsSliderActive nav.toc .toggleNav .navToggle::before,
.docsSliderActive nav.toc .toggleNav .navToggle::after {
  border-width: 6px 0;
  height: 0px;
  margin-top: -6px;
}
.docsSliderActive nav.toc .toggleNav .navToggle i {
  opacity: 0;
}
nav.toc .toggleNav .navGroup {
  background: #adadad;
  margin: 1px 0;
}
nav.toc .toggleNav .navGroup ul {
  display: none;
}
nav.toc .toggleNav .navGroup h3 {
  background: #adadad;
  color: #393939;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 10px;
  transition: color 0.2s;
}
nav.toc .toggleNav .navGroup h3 i:not(:empty) {
  width: 16px;
  height: 16px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  color: rgba(57, 57, 57, 0.5);
  margin-right: 10px;
  transition: color 0.2s;
}
nav.toc .toggleNav .navGroup h3:hover {
  color: #db4d3f;
}
nav.toc .toggleNav .navGroup h3:hover i:not(:empty) {
  color: #db4d3f;
}
nav.toc .toggleNav .navGroup.navGroupActive {
  background: #e0e0e0;
  color: #393939;
}
nav.toc .toggleNav .navGroup.navGroupActive ul {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
nav.toc .toggleNav .navGroup.navGroupActive h3 {
  background: #db4d3f;
  color: #fff;
}
nav.toc .toggleNav ul {
  padding-left: 0;
  padding-right: 24px;
}
nav.toc .toggleNav ul li {
  list-style-type: none;
  padding-bottom: 0;
  padding-left: 0;
}
nav.toc .toggleNav ul li a {
  border: none;
  color: #393939;
  display: inline-block;
  font-size: 14px;
  line-height: 1.1em;
  margin: 2px 10px 5px;
  padding: 5px 0 2px;
  transition: color 0.3s;
}
nav.toc .toggleNav ul li a:hover, nav.toc .toggleNav ul li a:focus {
  color: #db4d3f;
}
nav.toc .toggleNav ul li a.navItemActive {
  color: #db4d3f;
}
.docsSliderActive nav.toc .navBreadcrumb {
  background: #c6c6c6;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}
nav.toc .toggleNav .navBreadcrumb h2 {
  border: 0;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 1px 0 0;
}
.docsSliderActive nav.toc section .navGroups {
  display: block;
}

@media only screen and (min-width: 736px) {
  nav.toc section .navGroups {
    padding: 40px 0 0;
  }
  .navToggle {
    display: none;
  }

  .docsSliderActive .mainContainer {
    display: block;
  }

  .sideNavVisible .navPusher .mainContainer {
    padding-top: 0;
    max-width: 70%;
  }

  .docsNavContainer {
    background: none;
    box-sizing: border-box;
    height: auto;
    margin: 40px 40px 0 0;
    overflow-y: auto;
    position: relative;
    width: 300px;
  }

  nav.toc section .navGroups {
    display: block;
    padding-top: 0px;
  }

  .docMainWrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 50px;
    /*margin-bottom: -90px*/
  }
  .docMainWrapper .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .docMainWrapper .wrapper {
    padding-top: 0;
  }

  .docsNavContainer nav.toc .navBreadcrumb {
    display: none;
  }
  .navBreadcrumb h2 {
    padding: 0 10px;
  }
}
table {
  background: #F8F8F8;
  border: 1px solid #B0B0B0;
  border-collapse: collapse;
  display: table;
  margin: 20px 0;
}
table thead {
  border-bottom: 1px solid #B0B0B0;
  display: table-header-group;
}
table tbody {
  display: table-row-group;
}
table tr {
  display: table-row;
}
table tr:nth-of-type(odd) {
  background: #E8E8E8;
}
table tr th, table tr td {
  border-right: 1px dotted #B0B0B0;
  display: table-cell;
  font-size: 14px;
  line-height: 1.3em;
  padding: 10px;
  text-align: left;
}
table tr th:last-of-type, table tr td:last-of-type {
  border-right: 0;
}
table tr th code, table tr td code {
  color: #2db04b;
  display: inline-block;
  font-size: 12px;
}
table tr th {
  color: #000000;
  font-weight: bold;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  text-transform: uppercase;
}
.mainContainer:not(.blogContainer) .wrapper .post,
.blogContainer .posts,
.blogContainer .lonePost {
  padding-top: 40px;
}
.blogContainer .posts .post {
  border-bottom: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.blogContainer .postHeader {
  margin-bottom: 10px;
}
.blogContainer .postHeader a {
  text-decoration: none;
}
.blogContainer .postHeader p.post-meta {
  padding: 0;
  margin-bottom: 10px;
}

.blogContainer .postHeader .authorBlock {
  display: flex;
}
.blogContainer .postHeader .post-authorName {
  color: rgba(57, 57, 57, 0.7);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  margin-top: 0;
  margin-right: 10px;
  padding: 0;
}
.blogContainer .postHeader .authorPhoto {
  border-radius: 50%;
  height: 30px;
  overflow: hidden;
  width: 30px;
}
.blogContainer .postHeader .authorPhoto.authorPhoto-big {
  height: 50px;
  width: 50px;
}
.blog-recent {
  margin: 20px 0;
}
.blog-recent > a {
  float: left;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  .blog-recent {
    height: 40px;
  }
}

.header-link {
  position: absolute;
  margin-left: 0.2em;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/** Homepage **/
.container .wrapper .alignCenter h2 {
  text-align: center;
}
.container .wrapper .imageAlignSide h2 {
  text-align: left;
}
.container .wrapper .imageAlignSide p {
  margin-bottom: 40px;
  max-width: 560px;
  margin: 0;
}
.more-users {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
}

.productShowcaseSection {
  padding: 0 20px 0;
  text-align: center;
}
.productShowcaseSection.paddingTop {
  padding-top: 20px;
}
.productShowcaseSection.paddingBottom {
  padding-bottom: 80px;
}
.productShowcaseSection h2 {
  color: #db4d3f;
  font-size: 30px;
  line-height: 1em;
  margin-top: 20px;
  text-align: center;
  padding: 10px 0;
}
.productShowcaseSection p {
  padding: 0.8em 0;
  max-width: 560px;
  margin: 0 auto;
}
.productShowcaseSection .logos {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.productShowcaseSection .logos img {
  max-height: 110px;
  width: 110px;
  padding: 20px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  .gridBlock .fourByGridBlock {
    box-sizing: border-box;
    flex: 1 0 26%;
    padding: 10px;
  }
  .productShowcaseSection .logos img {
    max-height: 64px;
    width: 64px;
    padding: 20px;
  }
}

/** Showcase **/
.showcaseSection {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
.showcaseSection .prose h1 {
  color: #db4d3f;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
  text-align: center;
  padding: 1.4em 0 0.4em;
}
.showcaseSection .prose {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
}
.showcaseSection .logos {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.showcaseSection .logos img {
  max-height: 128px;
  width: 128px;
  padding: 20px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 735px) {
  .showcaseSection .logos img {
    max-height: 64px;
    width: 64px;
    padding: 20px;
  }
}

/** Footer **/
footer.nav-footer {
  position: relative;
  box-sizing: border-box;
  border: none;
  font-weight: 400;
  color: #202020;
  font-size: 15px;
  line-height: 24px;
  background: #808080;
  box-shadow: inset 0 10px 10px -5px rgba(0,0,0,0.2);
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer .sitemap {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto 3em;
}
footer .sitemap div {
  flex: 1;
}
footer .sitemap .nav-home {
  display: table;
  margin: -12px 20px 0 0;
  padding: 10px;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
}
footer .sitemap .nav-home:hover,
footer .sitemap .nav-home:focus {
  opacity: 1.0;
}
@media screen and (max-width: 735px) {
  footer .sitemap {
    display: none;
  }
}

footer .sitemap a {
  color: rgba(255, 255, 255, 0.6);
  display: table;
  margin: 2px -10px;
  padding: 3px 10px;
}
footer .sitemap a:hover,
footer .sitemap a:focus {
  color: white;
  text-decoration: none;
}
footer .sitemap h5 > a:hover,
footer .sitemap h5 > a:focus {
  color: white;
  text-decoration: none;
}
footer .sitemap h5,
footer .sitemap h6 {
  margin: 0 0 10px;
}
footer .sitemap h5 {
  color: white;
}

footer .sitemap h6,
footer .sitemap h5 > a,
footer .sitemap h6 > a {
  color: white;
}
footer .sitemap h5 > a,
footer .sitemap h6 > a {
  margin: 0 -10px;
}
footer .fbOpenSource {
  display: block;
  margin: 1em auto;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  width: 170px;
}
footer .fbOpenSource:hover {
  opacity: 1.0;
}
footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.entry-share {
  padding: 36px 0;
  display: block;
}

@media screen and (max-width: 735px) {
  .entry-share {
    display: none;
  }
}

.api-manual-link {
  color: #db4d3f;
  text-decoration: none;
}
.api-manual-link:hover {
  text-decoration: underline;
}
.api-manual-link:visited {
  color:#b13c2e;
}

.ocamldoc {
  padding-top: 24px;
  font-size: 100%;
  line-height: 1.8rem;
}

.ocamldoc div {
  display: block;
}

.ocamldoc pre {
  margin: initial;
  padding: initial;
  /*font-size: initial;*/
  /*line-height: initial;*/
  background: initial;
  border-radius: initial;
  overflow: initial;
  word-wrap: initial;

  font-size: 112.5%;
}

.ocamldoc code {
  font-size: initial;
  line-height: initial;
}

.ocamldoc .keyword {
  color: #aa1094;
}
.ocamldoc .keywordsign {
  color: #c41a16;
}
.ocamldoc .comment {
  color: #006a00;
}
.ocamldoc .constructor {
  color: #5b2f8e;
}
.ocamldoc .type {
  color: #5b2f8e;
}
.ocamldoc .string {
  color: #c41a16;
}
.ocamldoc .warning {
  color: Red;
  font-weight: bold;
}
.ocamldoc .info {
  margin-left: 3em;
  margin-right: 3em;
}
.ocamldoc .param_info {
  margin-top: 4px;
  margin-left: 3em;
  margin-right: 3em;
}
.ocamldoc .code {
  background: #fbfafa;
  border: 1px solid #eee;
  padding: 2px;
  border-radius: 1px;
  overflow: auto;
}
.ocamldoc .typetable {
  border-style: hidden;
  width: auto;
}
.ocamldoc .paramstable {
  border-style: hidden;
  padding: 5pt 5pt;
}
.ocamldoc tr {
  background-color: #ffffff;
}
.ocamldoc td {
  border: none;
  padding: 0;
}
.ocamldoc td.typefieldcomment {
  background-color: #ffffff;
  font-size: smaller;
}
.ocamldoc div.sig_block {
  margin-left: 2em;
}
.ocamldoc *:target {
  background: yellow;
}
.ocamldoc h1,
.ocamldoc h2 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 2.175rem;
  border-bottom: 1px solid #aaa;
}
.ocamldoc h3,
.ocamldoc h4,
.ocamldoc h5,
.ocamldoc h6,
.ocamldoc .h7,
.ocamldoc .h8,
.ocamldoc .h9 {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1rem;
  padding: 0;
  color: inherit;
  font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.3rem;
  line-height: 1.45rem;
}

.ocamldoc a {
  color: #db4d3f;
  text-decoration: none;
}
.ocamldoc a:hover {
  text-decoration: underline;
}
.ocamldoc pre {
  margin-bottom: 4px;
  font-family: monospace;
}
.ocamldoc pre.verbatim,
.ocamldoc pre.codepre {
}
.ocamldoc .indextable {
  border-collapse: collapse;
}
.ocamldoc .indextable td,
.ocamldoc .indextable th {
  min-width: 80px;
}

.ocamldoc .indextable td.module > a,
.ocamldoc .indextable td > .info {
  padding: 8px 16px;
}
.ocamldoc .indextable td > .info p {
  margin: 0;
}

.ocamldoc .indextable td.module {
  background-color: #eee;
  /*padding-left: 2px;
  padding-right: 2px;*/
}
.ocamldoc .indextable td.module a {
  color: #4e6272;
  text-decoration: none;
  display: block;
  width: 100%;
}
.ocamldoc .indextable td.module a:hover {
  text-decoration: underline;
  background-color: transparent;
}
.ocamldoc .deprecated {
  color: #888;
  font-style: italic;
}

.ocamldoc .info-deprecated {
  display: block;
  margin: 8px 0;
}

.ocamldoc .info-deprecated .warning {
  display: block;
  padding-bottom: 8px;
}

.ocamldoc .indextable tr td div.info {
  margin-left: 2px;
  margin-right: 2px;
}
.ocamldoc ul.indexlist {
  margin-left: 0;
  padding-left: 0;
}
.ocamldoc ul.indexlist li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.ocamldoc ul.info-attributes {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ocamldoc .info-desc {
  margin-bottom: 1em;
}
.ocamldoc hr {
  border: none;
  border-bottom: 1px solid #aaa;
  margin: 16px 0;
}
.ocamldoc .navbar {
  font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  padding-bottom: 16px;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }


/* CUSTOM */
.CodeMirror {
  background: transparent;
}
/* community examples page */
.community-examples-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;
  /* same as .mainContainer .wrapper p, blockElement p */
  padding-top: 0.8em;
}

.community-examples-grid > a > div {
  text-align: center;
  padding-top: 10px;
}

/* commencing epic hack to animate header logo */
/* our header logo image is intentionally absent. We substitude it with a css-drawn logo that looks similar to the Reason logo */
/* this way we can animate it and turn the label RE into REI */
/* currently we can't access the header logo config in userland (we use docusaurus). That's why we do it this way */
.fixedHeaderContainer header > a > img {
  display: none;
}
.fixedHeaderContainer header > a::before {
  /* this is the frame */
  border: 2px solid white;
  position: absolute;
  border-radius: 2px;
  width: 34;
  height: 34;
  content: "";
}
.fixedHeaderContainer header > a::after {
  /* the default sans-serif font at this weight is close enough to Monserrat used in the actual Reason logo */
  /* this font config avoids us needing to load the entire Monserrat font just for this effect */
  font-weight: 700;
  font-size: 20px;
  content: "REI";
  color: white;

  position: absolute;
  width: 24;
  height: 34;
  left: 11;
  top: 13;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.18, 0.89, 0.31, 1.16);
}
.fixedHeaderContainer header > a:hover::after {
  width: 34;
  /* rounding is different on safari and chrome. This is the best number. Not 4, not 6 */
  left: 5;
}
/* === */

.productShowcaseSection .logos img {
  max-height: 70px;
  width: 70px;
  padding: 20px;
}

.headerWrapper img.logo {
  border: 2px solid #f6f4f4;
}

/* only show language icon */
#languages-menu {
  font-size: 0px;
  padding: 0;
}
#languages-menu .languages-icon {
  margin: 0;
  padding: 6px 10px;
}
#languages-dropdown {
  width: auto;
  right: 0;
}
@media only screen and (min-width: 1024px) {
  /* only targets language dropdown li, i swear */
  .nav-site > span > li {
    position: relative;
  }
}

#docsNav.container.docsNavContainer .toc::-webkit-scrollbar {
  display: none;
}

/* overrides. Most of these should be upstreamed into docusaurus */

.button {
  /* these buttons really shouldn't have any margin */
  margin: 0;
}
.read-more {
  /* ... the margin belongs to the wrapper */
  margin: 20px 0 0 0;
}
.edit-page-link {
  /* header H1 height at small size is 27, button is 34, center it (-3.5px) */
  margin-top: -3.5px;
}
@media (min-width: 736px) {
  .edit-page-link {
    /* doc header H1 height at big size is 45, button is 34, center it (5.5px) */
    margin-top: 5.5px;
  }
}

.navPusher {
  height: auto;
}

.navGroup {
  background-color: #f6f4f4 !important;
}

.projectTitle {
  margin: auto;
  max-width: 400px;
}

.quickStartAndExamples .blockImage {
  max-width: 226px;
  box-shadow: 0px 0 20px lightgrey;
  margin: 0;
}

.quickStartAndExamples .blockContent h2 {
  margin: 0;
}

.quickStartAndExamples .blockimage img {
  border-radius: 3px;
}

/* end override */

/* These should be upstreamed to Docusaurus */

table {
  border: 1px solid #eee
}

table thead {
  border-bottom: 1px solid #eee;
}

table tr:nth-of-type(odd) {
  background: rgba(243, 136, 136, 0.03);
}

table tr th, table tr td {
  border-right: 1px solid #eee;
}

/* Below are styles that should be global to all Reason-ecosystem sites
 but which we have no current plans to upstream to Docusaurus. */

/* 1. Independent scrolling of docs sidebar menu (requires pjax) */
@media only screen and (min-width: 1024px) {
  /* makes desktop nav scroll independently of content */
  #docsNav.container.docsNavContainer .toc {
    position: fixed;
    overflow-y: scroll;
    bottom: 0;
    top: 0;
    padding: 0;
    padding-top: 90px;
  }
  /* safari fix */
  #docsNav.container.docsNavContainer {
    position: static;
  }
}

/* 2. Custom code block styling */
/* code */
pre code {
  background-color: unset;
  box-shadow: none;
}
.hljs {
  /* this -15px margin offsets the usual margin given to a page. This way it looks like this:
      |        |
    | myCode     |
      |        |

    instead of:

      |        |
      | myCode |
      |        |

    might not be clear as ascii comment, but the **code words inside the code
    block** are aligned with the page's boundaries; previously the code block
    itself starts at the boundary, then has extra padding. Now the code words
    themselves are aligned with the rest of the page's paragraphs' starting
    point
   */
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 15px;
  overflow: auto;
  background-color: rgba(243, 136, 136, 0.03);
  font-size: 15px;
  line-height: 23px;

  /* respect the section's max width, from .mainContainer .wrapper p */
  max-width: 50rem;
}
.hljs.javascript {
  background-color: rgba(247, 223, 30, 0.03);
}
.hljs .comment {
  opacity: 0.7;
}
@media (max-width: 736px) {
  .hljs {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    /* on small screens, the code block completely occupies the width of the
      view. No need for left/right borders */
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}


/* 3. Homepage changes */
#redirectMessage {
  font-size: 30px;
  line-height: 30px;
  padding-top: 100px;
  margin: auto;
  max-width: 800px;
  text-align: center;
  overflow-wrap: break-word;
}

#redirectBanner {
  background: #808080;
  color: #fff;
  display: none;
  font-weight: 300;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

#redirectBanner a {
  color: #fff;
  opacity: 0.6;
}

#redirectBanner a:hover {
  opacity: 1;
}

.homeWrapperWrapper {
  background-color: #f6f4f4;
  overflow: hidden;
  position: relative;
}

.homeWrapperInner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px 20px 0px;
}

.homeCodeSnippet {
  background-color: transparent;
  border: none;
  text-align: initial;
  padding-top: 20px;
}

.homeTagLine {
  font-size: 24px;
  font-weight: 300;
  max-width: 500px;
  line-height: 1.5em;
}

.homeThreePoints {
  padding-top: 20px;
}

.quickStartAndExamples {
  /* homeThreePoints + blockElement have 30 padding, so we should have 30 here too */
  padding-top: 30px;
  /* block padding of 80px is too huge */
  padding-bottom: 30px;
}


.quickStartAndExamples .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1024px;
}

@media (max-width: 736px) {
  .quickStartAndExamples .wrapper {
    flex-direction: column;
  }
}

/* companies page */
.addCompanyButton {
  margin-top: 2em;
}

@media (max-width: 1024px) {
  .homeWrapperInner {
    flex-direction: column;
  }

  .projectTitle {
    font-size: 40px;
  }
}
/* mobile */
@media (max-width: 480px) {
  .projectTitle {
    font-size: 30px;
  }

  .homeCodeSnippet .hljs {
    font-size: 13px;
  }
}

.homeCodeSnippet .hljs {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgb(57, 57, 57);
  font-size: 14px;
}

.getStarted {
  background-color: #db4d3f;
  color: white;
  /* buttons have 10px margin. Make the right padding 10px too so that it looks nicely spaced beside the Tutorial button */
  margin: 0 10px 0 0;
}

/* try playground style */
.try-inner {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.try-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: white;
}
.try-button {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #d6d4d4;
  padding: 1em 2em;
}
.try-button:hover {
  color: #db4d3f;
  cursor: pointer;
}
.try-button-right {
  border-right: 1px solid #d6d4d4;
  border-left: none;
  position: relative;
}

.try-button-share {
  position: relative;
}
.try-button-share input {
  background: #f6f4f4;
  transition: all 250ms;
  width: 0;
  padding: 0;
  border: none;
  outline: none;
}
.try-button-share:hover input {
  width: 25vw;
  margin-right: 1em;
}
.try-button-share:hover .try-tooltip {
  display: block;
}
.try-tooltip {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  right: 1em;
  background: rgba(0, 0, 0, .6);
  color: white;
  white-space: nowrap;
  padding: .15em .8em;
  border-radius: .25em;
  font-size: .8rem;
}
.try-tooltip .arrow {
  position: absolute;
  content:  ;
  bottom: 100%;
  right: 2.5em;
  height: 0;
  width: 0;
  border: .5em solid transparent;
  pointer-events: none;
  border-bottom-color: rgba(0, 0, 0, .6);
  margin-left: .5em;
}

.try-button-examples:hover .try-button-examples-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.try-button-examples-list {
  position: absolute;
  color: #555;
  z-index: 100;
  background: white;
  display: none;
  top: 100%;
  left: 0;
  min-width: 100%;
  width: 50vw;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  border-top: 1px solid #d6d4d4;
  padding-top: 1em;
  padding-bottom: 1em;
}
.try-button-examples-list li {
  margin: 0;
  padding: .5em 2em;
}
.try-button-examples-list li:hover {
  color: #db4d3f;
}

.try-button-evaluate-checkbox {
  display: flex;
  margin-left: 1em;
  align-self: center;
  justify-self: center;
}

.try-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.try-grid-editor {
  background: #f6f4f4;
  border: 1px solid #d6d4d4;
  border-bottom: none;
  border-right: none;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.try-label {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(246, 244, 244, 0.8);
  padding: 1em;
  text-transform: uppercase;
  color: #988;
  font-size: 12;
  line-height: 12px;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  border-radius: 0 0 0 5px;
  transition: opacity 0.25s;
}
.try-grid-editor:hover .try-label {
  opacity: 0;
}
.try-output {
  /* TODO */
  /*grid-column: 3/5;*/
}
.try-grid .CodeMirror {
  flex: 1;
}
.try-codemirror-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.try-error {
  font-family: monospace;
  font-size: 12;
  padding: 10px 20px;
  background-color: #faa;
}
.try-warning {
  font-family: monospace;
  font-size: 12;
  padding: 10px 20px;
  background-color: #fff8dc;
}

.try-output-line {
  font-family: monospace;
  white-space: pre;
}
